<article class="{{ .Type }}">
	<header class="post-header">
        <h3 class="p-post-title">{{ .Title }}</h3>
    </header>
    <section class="post-content">
        {{ .Content }}
    </section>
</article>