doctype html
html
    | {{ partial "head.html" . }}
    body
        | {{ partial "header.html" . }}
        main.content(role="main")
            div.container
                | {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }}
                | {{ range .Paginator.Pages }}
                |     {{ .Render "li" }}
                | {{ end }}
                | {{ partial "pagination.html" . }}
        | {{ partial "footer.html" . }}