| {{ define "main" }}
| {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }}
| {{ range .Paginator.Pages }}
|     {{ .Render "li" }}
| {{ end }}
include partials/pagination.pug
| {{ end }}
