<article class="posts">
	<header class="post-header">
        <h3 class="p-post-title">Oops! Go back <a href="{{ absURL "/" }}">Home</a></h3>
    </header>
    <section class="post-content">
    <img src="{{ absURL "/images/posts/404-2.svg" }}"/>
    </section>
</article>