footer#site-footer
  .container
    section#socials
      a(href='https://www.github.com/{{ .Site.Params.Social.Github }}' title='GitHub' target='_blank')
        span.tooltip
          i.fab.fa-github
      a(href='https://www.twitter.com/{{ .Site.Params.Social.Twitter }}' title='Twitter' target='_blank')
        span.tooltip
          i.fab.fa-twitter
      a(href='https://www.linkedin.com/in/{{ .Site.Params.Social.Linkedin }}' title='LinkedIn' target='_blank')
        span.tooltip
          i.fab.fa-linkedin-in
      a(href='https://www.instagram.com/{{ .Site.Params.Social.Instagram }}/' title='Instagram' target='_blank')
        span.tooltip
          i.fab.fa-instagram
      a(href='https://www.youtube.com/channel/{{ .Site.Params.Social.Youtube }}' title='YouTube' target='_blank')
        span.tooltip
          i.fab.fa-youtube
      a(href='{{ .Site.BaseURL }}index.xml' title='Get the RSS feed')
        span.tooltip
          i.fas.fa-rss
    section#copyright
      | ©
      a(href!='{{ absURL "about"}}') {{ .Site.Params.Author }}
      | {{ .Site.Params.CopyrightYear }} | All rights reserved
    section#made-with
      | Made with
      span.tooltip
        i.fas.fa-heart
      | +
      span.tooltip
        i.fas.fa-mug-hot
      | +
      a(href='http://gohugo.io/') Hugo

script(type='text/javascript' src!='{{ absURL "scripts/main.min.js" }}')
script(type='text/javascript').
  $('.heading').fitText();
