footer#site-footer
  .container
    | {{ with .Site.Params.social.youtube }}
    a(href!='https://www.youtube.com/channel/{{ . }}', title='Twitter', target='_blank')
      span.tooltip
        i.fab.fa-youtube
    | {{ end }}
    | {{ with .Site.Params.social.instagram }}
    a(href!='https://www.instagram.com/{{ . }}/', title='Instagram', target='_blank')
      span.tooltip
        i.fab.fa-instagram
    | {{ end }}
    | {{ with .Site.Params.social.twitter }}
    a(href!='https://www.twitter.com/{{ . }}', title='Twitter', target='_blank')
      span.tooltip
        i.fab.fa-twitter
    | {{ end }}
    | {{ with .Site.Params.social.linkedin }}
    a(href!='https://www.linkedin.com/in/{{ . }}', title='Twitter', target='_blank')
      span.tooltip
        i.fab.fa-linkedin-in
    | {{ end }}
    | {{ with .Site.Params.social.github }}
    a(href!='https://www.github.com/{{ . }}', title='GitHub', target='_blank')
      span.tooltip
        i.fab.fa-github
    | {{ end }}
    a(href!='{{ .Site.BaseURL }}index.xml', title='Get the RSS feed')
      span.tooltip
        i.fas.fa-rss
    section
      | © 
      a(href!='{{ absURL "about"}}') {{ .Site.Params.author }}
      | 2020 | All rights reserved
    section
      | Made with 
      span.tooltip
        i.fas.fa-heart
      | + 
      span.tooltip
        i.fas.fa-mug-hot
      | + 
      a(href='http://gohugo.io/') Hugo
script(type='text/javascript', src!='{{ absURL "scripts/main.min.js" }}')
script(type='text/javascript').
  $(".heading").fitText();
