header#site-header
  .container
    a(href='{{ .Site.BaseURL }}' alt='{{ .Site.Title }}')
      h1.blog-title.heading {{ .Site.Title }}
    p.blog-description {{ .Site.Params.description }}
    p.blog-description COMING SOON
    p.blog-description
      a(href!='{{ absURL "/" }}') Home
      |  |
      a(href!='{{ absURL "/about" }}') About
