title {{ .Title }} · {{ .Site.Title }}
link(rel='canonical', href='{{ .Site.BaseURL }}')
link(rel='alternate', type='application/rss+xml', title='{{ .Site.Title }}', href!='{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}')
link(rel='icon', type='image/svg+xml', sizes='any', href!='{{ absURL "images/brand/favicon.svg" }}')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css', type='text/css')
link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300|Montserrat:700')
link(rel='stylesheet', type='text/css', href!='{{ absURL "styles/main.min.css" }}')
script(src='https://kit.fontawesome.com/60b7ab0066.js', crossorigin='anonymous')
script(src='//code.jquery.com/jquery-3.4.1.min.js')
| {{ hugo.Generator }}