    <head>
        {{ partial "google_analytics.html" . }}
        {{ partial "meta.html" . }}
        <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
        <link rel="canonical" href="{{ .Site.BaseURL }}" />
        <link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" href='{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}' />
        <link rel="stylesheet" type="text/css" href="{{ absURL "styles/main.min.css" }}"/>
        <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300|Montserrat:700" rel="stylesheet" type="text/css">
        <script src="https://kit.fontawesome.com/60b7ab0066.js" crossorigin="anonymous"></script>
        <link rel="icon" type="image/svg+xml" sizes="any" href="{{ absURL "images/brand/favicon.svg" }}" />
        <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
        {{ hugo.Generator }}
    </head>
