header#site-header
  .container
    a(href='{{ .Site.BaseURL }}' alt='{{ .Site.Title }}')
      h1.blog-title.heading {{ .Site.Title }}
    p.blog-description.full-text {{ .Site.Params.description }}
    p.blog-description.short-text {{ .Site.Params.descriptionShort }}
    p.blog-menu
      a(class='menu-item' href!='{{ absURL "/" }}') Home
      ||
      a(class='menu-item' href!='{{ absURL "/about" }}') About
      ||
      a(class='menu-item' href="{{ .Site.Params.Resume }}" target='_blank') Resume
      ||
      a(class='menu-item' href="https://github.com/{{ .Site.Params.Social.Github }}" target='_blank') Projects