article.posts
  header.post-header
    h3.p-post-title {{ .Title }}
  section.post-content
    .container
      .row
        .col-sm-4
          img.rounded(src='{{ .Params.Image }}')
        .col-sm-8
          | {{ .Content }}
