| {{ define "main" }}
h3 {{ .Title }}
| {{ $data := .Data }}
| {{ range $key,$value := .Data.Terms.Alphabetical }}
a(href!='{{ absURL "tags" }}/{{ $value.Name }}') {{ $value.Name }} ({{ $value.Count }})
br
| {{ end }}
| {{ end }}
