doctype html
html
  head
  body
    | {{ partial "head.html" . }}
    | {{ `
    //if lt IE 7
      p.browsehappy
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href='http://browsehappy.com/') upgrade your browser
        |  or 
        a(href='http://www.google.com/chrome/‎') install Google Chrome
        |  to experience this site.
    | ` | safeHTML }}
    | {{ partial "header.html" . }}
    main.content(role='main')
      .container
        | {{ .Render "post" }}
    | {{ partial "footer.html" . }}
